html {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* highlight property */
::-moz-selection {
  background: #ff0000;
  color: rgb(0, 0, 0);
}
::selection {
  background: #ff0000;
  color: rgb(0, 0, 0);
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Courier, 'Courier New', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: #fafffb;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: thin;
  /* Firefox */
  text-align: left;
  color: #5a5a5a;
  letter-spacing: -0.5px;
}

h1{
  font-size:2.5rem;
  letter-spacing: 10px;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.article-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.list-title{
  letter-spacing: 2.55px;
}

/*override a link*/
.a {
  color: #000000;
  text-decoration: none;
}


body::-webkit-scrollbar {
  display: hidden;
}

/*Flex row for buttons*/
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2.55px;
}

.card {
  display: flex;
  font-family: 'Courier', 'Courier New', 'Lucida Typewriter', monospace;
  font-weight: 800;
  letter-spacing: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: #000000;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  box-shadow: -2px 2px 2px 0 #ea542a, -3px 2px 2px 0 #4000ff;
}

/* card hover */
.card:hover {
  background-color: #000000;
  color: #ea542a;
  text-decoration:dashed;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/*Button for a link*/
.display-links {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 5px;
  border: #000000;
  border-style: solid;
  border-width: 2px;
  box-shadow: -3px 2px 2px 0 #ea542a, -3px 2px 2px 0 #4000ff;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  margin: 10px 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

/* neon outer glow */
a:hover {
  background-color: #151515;
  color: #ea542a;
  text-decoration:dashed;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a:visited {
  text-decoration: none !important;
}

a:active {
  text-decoration: none;
}


.footer-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  /* Firefox */
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom:0;
  position: absolute;
}


@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .display-links {
    font-size: 12px;
  }
}
